<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
	<div class="container">
	  <h2 class="title">
		Shop Now!
	  </h2>
	  <p>
		Order your EV-Naturals products online and have it delivered to your door from the comfort of your home, or see what we have in stock at our retail stores.
	  </p>
	  <a href="/contact" class="button-solid">Shop Now</a>
	</div>
	{% image './src/images/landing-parma.jpg', 'a photo of the inside of our parma store.', '', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
  </section>
  