<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
	<div class="container">
	  <h2 class="title">
		Shop Now!
	  </h2>
	  <p>
		If you have a question, concern
	  </p>
	  <a href="/contact" class="button-solid">Contact Us</a>
	</div>
	{% image './src/images/landing-parma.jpg', 'kitchen cabinets', '', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
  </section>
  